{% extends 'base.html' %}

{% block conteudo %}
    <h2 style='text-align: center; padding: 10px; color: blue;'>Adicionar Despesa</h2>

    <form action="{{url_for('adicionar_despesas')}}" method="post">
        <!-- Seção Motivo -->
        <label class="form-label">Motivo</label>
        <select class='form-control' name="motivo">
            <option value="Agua">Água</option>
            <option value="Luz">Luz</option>
            <option value="Aluguel">Aluguel</option>
            <option value="Alimentacao">Alimentação</option>
            <option value="MaterialLimpeza">Material de Limpeza</option>
            <!-- Adicione mais opções conforme necessário -->
        </select>

        <!-- Seção Valor -->
        <label>Valor</label>
        <input class='form-control' type="number" name="valor">

        <!-- Seção Sujeito -->
        <label>Sujeito</label>
        <input class='form-control' type="text" name="sujeito">

        <!-- Seção Descrição -->
        <label>Descrição</label>
        <input class='form-control' type="text" name="descricao">

        <br>
        <!-- Botão Enviar -->
        <button class="btn btn-primary">Enviar</button>

        <!-- Botão Voltar -->
        <a class="btn btn-secondary" href="{{url_for('adicionar_despesas')}}">Voltar</a>
    </form>

    
{% endblock conteudo %}
