{% extends 'base.html' %} <!--extender da página base-->
{% block conteudo %}

{%- for mensagem in get_flashed_messages() %}
    <div class="alert alert-primary">
        {{mensagem}}
    </div>
{%- endfor%}

   <h2 style = 'text-align: center; color: blue; padding: 20px;'>Clientes</h2>
    <div class="container">
        <div class="row">
            <div class ='col-sm'>
            <a href="{{url_for('novoCliente')}}"  class="btn btn-primary">Adicionar Cliente</a>
            </div>
            
            
            
            
            <!-- <div class="input-group col-4">
                <div class="form-outline px-1">
                  <form method="POST" action="{{url_for('search')}}">
                     {{form.hidden_tag()}}
                  <input type="search" id="form1" class="form-control p-1" />
                  
                </div>
                <button type="button" class="btn btn-primary"> Buscar
                  <i class="fas fa-search"></i>
                </button>
                  </form>
              </div> -->
            
                
                
         </div>
      </div>
    </div>
    <br>
    <br>
    
    <div class="container">
    <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
              <th scope="col">Endereço</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
        <tbody>
            
            {% for cliente in clientes %}
            <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.email }}</td>
                <td>{{cliente.endereco }}</td>
                <td>
                    
                    <a href="{{cliente.id}}/atualiza_cliente" class="btn btn-secondary btn-xs">Editar</a>
                    <a href="{{cliente.id}}/remove_cliente"
                    onclick="return confirm('Deseja excluir esse registro?')" class="btn btn-danger btn-xs">Excluir</a>
                </td>
            </tr>
        </div>
            {% endfor %}
{% endblock conteudo %}