{% extends 'base.html' %} <!--extender da página base-->
{% block conteudo %}
    <h2 style = 'text-align: center; color: blue; padding: 20px;'>Menu do Sistema</h2>

<div class="container">
  <div class="card-deck">
    <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="../img/Feliz (1).png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Consultar Clientes</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="../img/Feliz (1).png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Consultar Clientes</p>
          <a href="#" class="btn btn-primary">Novo Pedido</a>
        </div>
      </div>

      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="../img/Feliz (1).png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Consultar Clientes</p>
          <a href="#" class="btn btn-primary">Consultar despesas</a>
        </div>
    </div>
      
    </div>

</div>

<div class="container py-2">
  <div class="card-deck">
    <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="../img/Feliz (1).png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Consultar Clientes</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="../img/Feliz (1).png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Consultar Clientes</p>
          <a href="#" class="btn btn-primary">Novo Pedido</a>
        </div>
      </div>

      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="../img/Feliz (1).png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Consultar Clientes</p>
          <a href="#" class="btn btn-primary">Consultar despesas</a>
        </div>
    </div>
      
    </div>

</div>
{% endblock conteudo %}    
